html{
	font-size: 62.5%; /* Reset para REMS -- 62.5% =10px de 16px */
	box-sizing: border-box;
}
*, *:before, *after{
	box-sizing: inherit;
}

body{ont-family: Arial, Helvetica, sans-s
	ferif;
	font-size: 1.6rem; /*==16px;*/
	line-height: 2;
}
	
/* IMAGENES RESPOSIVAS A TODAS*/
img{
max-width: 100%;


}

/*Globales */
.contenedor{
	max-width: 120rem; /*= 1200px;*/
	margin-left: auto;
	margin-right: auto;
	
	
}

h1{
font-size: 3.8rem;

}

h2{
font-size: 3.4rem;
}

h3{
font-size: 3rem;
}

h4{
font-size: 2.6rem;

}
/** Utilidades **/
.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fw100{
	font-weight: 100;
}
.centrar-texto{
	text-align: center;
}
.d-block{
	display: block!important;
}
.contenido-centrado{
	max-width: 800px;
}
/*BOTONES  */

.boton{
color: white;
font-weight: 700;
text-decoration: none;
font-size: 1.8rem;
padding: 1rem 4rem;
margin-top: 3rem;
display: inline-block;
text-align: center;

}
.boton-amarillo{
background-color: #E08709;
}

.boton-verde{
background-color: #71B100;
}
.boton:hover{
cursor: pointer;
}
/* header */
.site-header{
	background-color: #333;
	padding: 1rem 0 3rem 0;
}
.site-header.inicio{
background-image: url(../img/header1.png); /* sale de la carpeta y entra a otra carpeta*/
height: 800px; /* o (100vh)viewport height toda la pantalla se adecua a la pagina*/
min-height: 300px;/* si la pantalla es pequeña minimo sera 300px*/
position: center center;
background-size: cover;
max-width: 100%;

}

.contenido-header{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between; /* al usar flex las posiciones se invierten quiere decir que justify-content (horizantalmente) ahora sera vertical*/

}
.contenido-header h1{
	color: white;
	font-family: 'Caveat', cursive;
	font-size: 2rem;
	padding-bottom: 1rem;
}




.barra{
	display: flex;
	justify-content: space-between; /* alinear horizontamente */
	align-items: center; /* alinear verticamente */ 
	padding-top: 30px; /* espacio hacia adentro del elemeto */

}
.barra-inicio{
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem; /*== 25px*/
	margin-left: 50px;
	border-bottom: 6px solid transparent;/*coloca una linea debajo del link*/
	transition: border .3s ease;
}

.barra-inicio,.navegacion a:hover{
	border-bottom-color: #e84855; 
}


/* Navegacion */
.navegacion a{
	color: #fff;
	text-decoration: none;
	font-size: 2.5rem; /*== 25px*/
	margin-right: 30px;
	border-bottom: 6px solid transparent;/*crear una linea abajo del a*/
	transition: border .3s ease;/*da una transicion de linea*/
}

.navegacion a:last-of-type{ /* selecciona el ultimo elemento del a */
margin: 0;

}

/** encabezado-Nosotros **/




.iconos-nosotros{
	display: flex;
	justify-content: space-between;
}

.incono-nostros-contenido{
	flex-basis: calc(33.3% - 1rem); /*33.3% menos 1rem que equivale a 10px para futuro cuando sea responsive*/
	text-align: center;

}
.incono-nostros-contenido{
	text-transform: uppercase; /* convierte la letra en mayuscula*/

}

/** ANUNCIOS */

.contenedor-anuncios{
	display: flex;
 justify-content: space-between;
flex-wrap: wrap;
}

.anuncio{
	flex-shrink: 0;
	flex-basis: calc(33.3% - 1rem); /* separa en 3 columnas el contenido del anuncio*/
	border-style: solid;
	border-color: #B5B5B5;
	border-width: 3px;
	/* tambien puede ser asi
	border: 1px solid #B5B5B5 ; */
	background-color: #F5F5F5;
	margin-bottom: 2rem;
}


.anuncio-contenido{
	padding: 2rem;
}

.anuncio-contenido h3,
.anuncio-contenido p{
	margin: 0;
}

.precio{
	color: #71B100;
	font-weight: 800;
}
.iconos-caracteristicas{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex: 1;/*para que el contenido cresca*/
	max-width: 500px; /*pero sera limitado por los 500px*/
}
.iconos-caracteristicas li{
	display: flex;
}
.iconos-caracteristicas li img{
	margin-right: 2rem;
}
.ver-todas{
	display: flex;
	justify-content: center;
}

/* CONTACTO HOME*/
.imagen-contacto{
	background-image: url(../img/portada2.jpg);
	background-size: cover;
	background-position: center center;
	height: 40rem;
	display: flex;
	align-items: center;
}

.contenido-contacto{
	flex:1; /*detecta cuantos elementos hay y asigna una division entre el tamaño y el elemeto*/
	color: white;
}
.contenido-contacto p{
	font-size: 2rem;
}

/** seccion inferior **/
.seccion-inferior{
	display: flex;
	justify-content: space-between;
}
.seccion-inferior .blog{
flex-basis: 100%; /*=width 100%*/
}
.seccion-inferior .testimoniales{
flex-basis: calc(30%-3rem);
}
.blog{
	margin-right: 6rem;

}
.entrada-blog{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem; 
}
.entrada-blog:last-of-type{
margin-bottom: 0;
}
.entrada-blog .imagen{
	flex-basis: 40%;
}
.entrada-blog .texto-entrada{
	flex-basis: calc(60%-2rem);
}
.texto-entrada{
margin-left: 2.5rem;
line-height: 1.2;

}
.texto-entrada a{
color: black;
text-decoration: none; /*elimina la linea de la etiqueta a*/
}
/*crear un elemento despues del h4 con after*/
.texto-entrada h4::after{
content: '';
display: block;
width: 15rem;
height:0.5rem;
background-color: #71B100;
margin-top: 1rem;/*un espacio de margen*/ 
}
.texto-entrada span{
color: orange;

}
.testimonial{
	background-color: #71B100;
	font-size: 2.4rem;
	padding: 2rem;
	color: white;
	border-radius: 2rem;
}
.testimonial p{
	text-align: right;
}
/*crear un elememto antes con before /*
es inportnte que el padre tenga una 
posisicon relativa y el hijo una posicion absoluta*/
.testimonial blockquote::before{
content: '';
background-image: url(../img/comilla.svg);
width: 4rem;
height: 4rem;
position: absolute;
left: -50px; /*posiciona px para atras */
}
.testimonial blockquote{
	position: relative;
	font-weight: 300;
}

/*footer*/
.site-footer{
	background-color: #333333;
	margin: 0; /*sobre escribe el margen de la clase contenedor*/

}
.copyright{
	margin: 0; /*elimina el margen del parrago*/
	color: #ffffff;
}
.contenedor-footer{
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;

}

/** INTERNAS **/
/** NOSOTROS **/
.contenido-nosotros{
	display: grid;
	grid-template-columns: repeat(2, 50%); /*o tambien 1fr 1fr*/
	grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
font-size: 2rem;
font-weight: 900;
margin:0;
padding: 2rem 0 3rem 0;
}
/*anuncios*/
.img-anuncio1{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}
.resumen-venta{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/**CONTACTO**/
form p{
font-size: 1.2rem;
color:#4f4f4f;
margin:0;
}
legend{
	font-size: 2.4rem;
	color: #333333;
}
label{
display: block; /*hace que el label ocupe tod el espacio disponible y empuje al imbut abajo*/
font-weight: 700;
text-transform: uppercase;
}
/*selecciona todos los tipos menos submit*/
input:not([type="submit"]),textarea
,select{
	padding: 1rem;
	padding-right: 0;
	display: block;
	width: 100%;
	background-color: #e1e1e1;
	margin-bottom: 2rem;
	border: none;
	border-radius: 1rem;
}
/*sobreescribir el input tipo radio*/
input[type="radio"]{
	width: auto;
	margin:0;
}
/*solo para el select se usa atributos -webkit-appearance*/
select{
	-webkit-appearance:none;
	appearance:none;
}
textarea{
	height: 20rem;
}
.forma-contacto{
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}